@-moz-document domain("pathofexile.com") {
    #trade {
        background: black;
    }

    .resultset {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.left {
        order: 0;
        flex-basis: 0%;
        margin-right: 10px;
        margin-left: 20px;
    }

    div.middle {
        display: inline-block;
        order: 2;
        flex: 1;
    }

    div.right {
        order: 1;
        margin-right: 10px;
        border: 1px solid rgba(255,255,255,0.1);
    }

    .row {
        margin: 10px !important;
        border: 1px solid rgba(255,255,255,0.1);
        width: 45%;
    }

    .price-label {
        display: none;
    }

    .price br {
        display: none;
    }

    .row-total {
        width: 100% !important;
        margin-left: 0 !important;
    }
}
